/*
* Style Works for both Editor and Frontend
*/

.wp-block-naviddev-gutenberg-blocks-image-box {
  img {
	max-width: 100%;
  }

  h4 {
	margin-top: .5rem;
	margin-bottom: 0;
  }

  p {
	margin: .3rem 0;
  }
}
